* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
    text-align: center;
  }
  h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }
 img{
    width: 70px;
    height: 30px;
    float: left;
    margin-right: 5px;
    
  }

  body {
    position: relative;
    height: 100vh;
   /* background-color: rgb(166, 213, 193);*/
  /* background-color: #95baa5;*/
  
  }

  #navbar {
    background-color: #4b8b5ef5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px 50px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
    color: white;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  li {
    width: 70px;
  }

  li a {
    font-size: 1.1rem;
    cursor: pointer;
    padding: 20px 15px;
    transition: 0.5s;
    color: white;
  }
  li a:hover {
    color:rgb(240, 205, 159);
    border-bottom: 4px rgb(240, 205, 159) solid;
    transition: 0.5s;
  }
  .hide {
    top: 70px;
  }
  
  @media screen and (max-width: 700px){
  /* burge line بتاع ال menue*/
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;
  }
  .lines {
    display: block;
    background-color: white;
    height: 2px;
    width: 35px;
  }
  .lines-rotate {
    background-color: rgb(146, 146, 146);
    border-radius: 5px;
  }

  #navbar {
    position: relative;
    padding: 15px 20px;
  }

  ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -400px;/*-300*/
    right: 0;
    background-color: rgb(240, 205, 159);
    padding: 35px 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.363);
  
  }
  li a {
    color: rgba(12, 11, 11, 0.836);
  }

  li {
    text-align: center;
    width: 90vw;
  }

  li a:hover {
    font-weight: bold;
    color: #252b31;
    border: none;
    letter-spacing: 3px;
  }

}
button{
  display: block;
    width: 10%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #95baa5;
    border-color: rgb(137, 219, 137);
    min-width: 100px;
    color: rgb(28, 103, 9);
}

header{
  background-image: url('./images/header.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height:100vh;
  position: relative;
  text-align: center;
  color: white;
}

/*header h1{
  text-align: center;
  font-weight: bold;
  color: aliceblue;
  font-family: cursive;
}*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*gallary*/

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 702px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.aboutus{
background-image: url("images/aboutus.jpg");
background-attachment: fixed;  
background-size: cover;
height:100vh;
position: relative;
text-align: left;
color: white;
}


footer{
  
  background-color:#1d9b58 ;
  font-size: small;
  margin-top: auto;/*push the footer to the bottom of the page*/
  font-family: cursive;
  padding-bottom: 3px;
  padding-top: 15px;
  margin-top: 10px;
}


